@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D6E1F0;
}

.principal-card {
    height: 430px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: 20px;
}

.qrcode-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qrcode-div img {
    height: 270px;
    width: 270px;
    border-radius: 10px;
}

.card-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.card-txt h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(6, 6, 32);
}

.card-txt p {
    font-size: .9em;
    padding: 0px 10px;
    text-align: center;
    margin-top: 10px;
    color: gray;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.137);
}

p {
    margin-top: 20px;
    font-weight: bold;
    color: #2C7DFA;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.11);
}

span {
    color: #284d85;
}

a {
    text-decoration: none;
    color: #284d85;
}